<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" *ngFor="let nav of navList">
        <a class="nav-link" [routerLink]="nav.link" routerLinkActive="active">{{ nav.label }} <span class="sr-only" *ngIf="isCurrentPage(nav.link)">(current)</span></a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item" *ngIf="!isLoggedIn; else logout">
        <a routerLink="/auth" class="nav-link">Login</a>
      </li>
      <ng-template #logout>
        <li class="nav-item dropdown" *ngIf="user$ | async as user">
          <a class="nav-link dropdown-toggle dropdown-user-menu"
             id="logoutDropdown"
             role="button"
             data-toggle="dropdown"
             aria-haspopup="true"
             aria-expanded="true">
            <img class="user-avatar" *ngIf="user.photoURL" [src]="user.photoURL">
            <span class="user-name">{{ ghUserName || user.email }}</span>
          </a>
          <div class="dropdown-menu" aria-labelledby="logoutDropdown">
            <a class="dropdown-item" (click)="onLogout()">Logout</a>
          </div>
        </li>
      </ng-template>
    </ul>
  </div>
</nav>
